email=yashaswinivv@gmail.com
#always-auth=true
#<<<<<<< master
#_auth=YWRtaW46cGFzc3dvcmQ=
#registry.npmjs.org/:_auth=YWRtaW46cGFzc3dvcmQ
#=======
#_auth=YYWRtaW46ZGV2b3Bz
#registry.npmjs.org/:_auth=bWl0aHVudGVjaG5vbG9naWVzOmRldm9wcw==
#>>>>>>> master
allowRepublish=true
